In [1]:
#pandas series list的创建
import pandas as pd
a = [1,7,2]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    2
dtype: int64

In [2]:
#name label on index
import pandas as pd
a = [1,7,2]
myvar = pd.Series(a,index = ["x","y","z"])#在标记index name的时候要用[]
print(myvar)

x    1
y    7
z    2
dtype: int64

In [4]:
data = {'apples': [3, 2, 0, 1],
'oranges': [0, 3, 7, 2]}

purchases = pd.DataFrame(data)
print(purchases)

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [6]:
#name the index
data = {'apples': [3, 2, 0, 1], 
    			'oranges': [0, 3, 7, 2]}

purchases = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'])
print(purchases)

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [1]:
#read
import pandas as pd
df = pd.read_csv("data.csv")#阅读csv文件 pd.read_csv
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [2]:
df.head()#显示表头 head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [6]:
df.head(["haha","shishi","ha","siuuuuu"])#?????????

TypeError: cannot do positional indexing on RangeIndex with these indexers [['haha', 'shishi', 'ha', 'siuuuuu']] of type list

In [7]:
df.tail() #后五个？？？？？？

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [8]:
df.info() #?????

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [9]:
df.shape()

TypeError: 'tuple' object is not callable

In [10]:
df.describe()#给出df的一些性质

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

In [11]:
#Read file in Colab
from google.colab import drive
drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google.colab'

In [12]:
#DataFrame indexing 索引

In [15]:
#Traditional python indexing approach
import pandas as pd
data = {
    "colories": [420,380,390],
    "duration":[50,40,45]
}

#load into Dataframe
df = pd.DataFrame(data)
print(df["colories"][0]) #提取dictionary中"colories"的index为0的一个数据

420

In [16]:
#Using Pandas .iloc[] method
import pandas as pd

#load data in to a Dataframe:
df = pd.read_csv("data.csv")

print(df.iloc[[0,1,5,6],[0,1]]) #抓取出0,1,5,6（index）行的数据，和0,1列的 [行在前，列在后]

   Duration  Pulse
0        60    110
1        60    117
5        60    102
6        60    110

In [28]:
df = pd.DataFrame([[1,2], [4,5], [7,8]],#每一行的数据1,2一行，4,5一行.....
        index  = ['cobra', 'viper', 'sidewinder'],#横轴
        columns = ['max_speed', 'shield'])#纵轴
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [30]:
df.loc['viper'] #抓取viper一行的数据 loc.()

max_speed    4
shield       5
Name: viper, dtype: int64

In [31]:
df.loc[['viper','sidewinder']]#抓取两行 记住用[[]]双层[]

            max_speed  shield
viper               4       5
sidewinder          7       8

In [33]:
df.loc['cobra','shield'] #抓取cobre行，shield列的数据 行在前，数据灾后

2

In [35]:
df.loc['cobra':'viper', 'max_speed']#抓取一个区间，包括”：”后的哪一行

cobra    1
viper    4
Name: max_speed, dtype: int64

In [36]:
df.loc[[False, False, True]] #三列，False即丢掉，True即保留

            max_speed  shield
sidewinder          7       8

In [37]:
df.loc[[True, False, True]]

            max_speed  shield
cobra               1       2
sidewinder          7       8

In [38]:
df.loc[pd.Index(["cobra","viper"],name="foo")] #给namecolumn取名

       max_speed  shield
foo
cobra          1       2
viper          4       5

In [40]:
df.loc[pd.Series([False, True, False],
       index=["viper","sidewinder","cobra"])]#重新给index取名

            max_speed  shield
sidewinder          7       8

In [41]:
df.loc[df['shield'] > 6]#抓取shield列大于6的行

            max_speed  shield
sidewinder          7       8

In [42]:
df.loc[df['shield']>6,['max_speed']]#抓取shield列大于6的行中maxspeed一列的值

            max_speed
sidewinder          7

In [45]:
df.loc[lambda df: df['shield']==5]#抓取shield列等于5的行

       max_speed  shield
viper          4       5

In [47]:
df.loc[['viper', 'sidewinder'], ['shield']] = 50 #把viper和sidewinder行shilde列的数据改成50
df

            max_speed  shield
cobra               1       2
viper               4      50
sidewinder          7      50

In [49]:
df.loc['cobra'] = 10 #把cobra行的数据全部改成10
df

            max_speed  shield
cobra              10      10
viper               4      50
sidewinder          7      50

In [52]:
df.loc[:,'max_speed'] = 30 #：代指所有列，所以这个代码就是把所有的max_speed一列改成30
df

            max_speed  shield
cobra              30      10
viper              30      50
sidewinder         30      50

In [53]:
df.loc[df['shield'] > 35] = 0 #把shield一列所有大于35的行的所有数据改成0【所在行所有数据都改成0】
df

            max_speed  shield
cobra              30      10
viper               0       0
sidewinder          0       0

In [55]:
#Removing rows containing empty cells 删除包含空单元格的行
import pandas as pd
df = pd.read_csv('data.csv')
new_df = df.dropna() #去掉有0的行
print(new_df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [56]:
#去掉所有 NULL values的行
import pandas as pd
df = pd.read_csv('data.csv')
df.dropna(inplace = True)
print(df.to_string)

<bound method DataFrame.to_string of      Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]>

In [58]:
#replace NULL values with 130
df = pd.read_csv('data.csv')
df.fillna(130,inplace= True)
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [60]:
#replace NULL values in the "Calories" columns with the 130
df = pd.read_csv('data.csv')
df["Calories"].fillna(130,inplace= True)
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [62]:
import numpy as np
df = pd.DataFrame(np.arange(12).reshape(3,4),
                  columns=['A','B','C','D'])#创建一个列名为A，B，C，D的dataframe 并且是三行四列（3,4） arange（12）
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [63]:
df.drop(['B','C'], axis=1) #把column B，C给去掉 axis=1删掉列 axis=0删掉行 默认axis=0

   A   D
0  0   3
1  4   7
2  8  11

In [68]:
df = pd.DataFrame(np.arange(12).reshape(3,4),
                  columns=['A','B','C','D'])
df.drop(columns=['B','C']) #用columns等于B，C

   A   D
0  0   3
1  4   7
2  8  11

In [70]:
df.drop([0,1])#把index为0，1的行drop掉

   A  B   C   D
2  8  9  10  11

In [72]:
#set"Duration" = 45 in row 7?????
df.loc[7, 'Duration'] = 45
df

     A    B     C     D  Duration
0  0.0  1.0   2.0   3.0       NaN
1  4.0  5.0   6.0   7.0       NaN
2  8.0  9.0  10.0  11.0       NaN
7  NaN  NaN   NaN   NaN      45.0

In [82]:
#Delete rows where "Duration" is higher than 120
for x in df.index:
    if df.loc[x,"Duration"] > 120:
        df.drop(x, inplace = True)#???????

In [83]:
#Returns True for every row that is a duplicate, otherwise False
print(df.duplicated())#查看重复项

0    False
1    False
2    False
7    False
dtype: bool

In [85]:
#把重复的去哪不丢掉
print(df.drop_duplicates(inplace = True))

None

In [86]:
df[['a','b']].describe()

KeyError: "None of [Index(['a', 'b'], dtype='object')] are in the [columns]"

In [87]:
df = pd.read_csv("data.csv")#阅读csv文件 pd.read_csv

In [88]:
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]